[Desktop Entry]
Version=1.0
Name=Chromium Web Browser
Comment=Access the Internet
GenericName=Web Browser
Exec={{ prefix }}/bin/chromium-browser --window-size="1024,768" %U
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=chromium-browser
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
StartupWMClass=Chromium-browser
Keywords=web;browser;internet;
Actions=new-window;new-private-window;

X-Desktop-File-Install-Version=0.26

[Desktop Action new-window]
Name=Open a New Window
Exec={{ prefix }}/bin/chromium-browser --window-size="1024,768" %U

[Desktop Action new-private-window]
Name=Open a New Private Window
Exec={{ prefix }}/bin/chromium-browser --window-size="1024,768" --incognito %U
