#!/usr/bin/env xdg-open

[Desktop Entry]
Name=TODO list
Exec=/usr/bin/xdg-open {{ ansible_env.HOME }}/.todo.actodo
Icon=text-x-generic
Type=Application
Categories=Office
