#!/usr/bin/env xdg-open

[Desktop Entry]
Name=To-do list
Exec=/usr/bin/xdg-open {{ ansible_env.HOME }}/.todo.org
Icon=task-due
Type=Application
Categories=Office
