[Desktop Entry]
Version=1.0
Name=Redshift
Name[en_GB]=Redshift
GenericName=Color temperature adjustment
GenericName[en_GB]=Colour temperature adjustment
Comment=Color temperature adjustment tool
Comment[en_GB]=Colour temperature adjustment tool
Exec=redshift-gtk
Icon=redshift
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
Hidden=false
X-GNOME-Autostart-enabled=true
