[Desktop Entry]
Version=1.0
Name=XClock
GenericName=Clock
Comment=On-screen analogue clock
Exec=xclock -geometry 300x300-0-0
Icon=clock
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
Hidden=false
X-GNOME-Autostart-enabled=true
